<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="" routerLink="/"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item destaque">
            <li routerLinkActive='destaque' *ngFor="let item of itens">
                <a class="nav-link" routerLink="{{item.route}}">{{item.label}}</a>
            </li>
        </ul>
    </div>
</nav>
<!-- [ngClass] = {'destaque': item.ativo} -->